@page "/admin/books/details/{id:long}"

<h3 class="bg-dark text-white text-center p-1">Details</h3>

<table class="table table-sm table-bordered table-striped table-hover">
@* NEW BOOTSTRAP -- Try to use the table-hover attribute to enable hovering over tables *@
    <tbody>
        <tr><th>Book ID:</th><td>@b.BookId</td></tr>
        <tr><th>Title:</th><td>@b.Title</td></tr>
        <tr><th>Author:</th><td>@b.Author</td></tr>
        <tr><th>Publisher:</th><td>@b.Publisher</td></tr>
        <tr><th>ISBN:</th><td>@b.Classification</td></tr>
        <tr><th>Category:</th><td>@b.Category</td></tr>
        <tr><th>Page Count:</th><td>@b.PageCount</td></tr>
        <tr><th>Price:</th><td>@b.Price.ToString("c")</td></tr>
    </tbody>
</table>
@* Include every detail for every book *@

<NavLink class="btn btn-success text-white" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-dark text-white" href="/admin/books">Back</NavLink>

@code {

    [Inject]
    public IBookstoreRepository repo { get; set; }

    [Parameter]
    public long Id { get; set; }

    public Book b { get; set; }

    protected override void OnParametersSet()
    {
        b = repo.Books.FirstOrDefault(x => x.BookId == Id);
    }

    public string EditUrl => $"/admin/books/edit/{b.BookId}";

}
